// 左栏菜单样式修改
.el-menu-item{
  padding-left: 50px !important;
}
.el-menu-item.is-active{
  background: rgba(245, 108, 108, .2) !important;
}
li.el-submenu{
  &.is-active.is-opened .el-submenu__title{
    background-color: $mainColor !important;
  }
}


//  弹框样式修改
.el-dialog__body{
  padding: 30px 47px !important;
}
.el-dialog__footer{
  text-align: center;
  padding-bottom: 50px !important;
  .el-button{
    width: 150px;
    margin: 0 11px !important;
  }
}

// 表单样式
.el-form{
  .el-form-item:last-child{
    margin-bottom: 0 !important;
  }
}