@import "./config.scss";
@import "./elementui.scss";
@import "./normal.scss";

.pull-left{ float: left; }
.pull-right{ float: right; }
.black-space-15{ height: 15px; }
.overflow-h{ overflow: hidden; }